# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build/

# production and build
dist/
dist-tsc/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server_crash.log

# env files (CRITICAL: Do not commit these)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
